/* Root colors */
:root {
  --dark: #31343d;
  --light: #92ccce;
  --text: #445877;
}

/* Universal selector */
* {
  box-sizing: border-box;
}

/* Body styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

/* Header and Nav */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--dark);
}

header h1 {
  color: var(--text);
  background-color: var(--light);
  padding: 5px 1% 5px 6%;
  font-size: 250%;
  margin-left: -20px;
  line-height: 1;
}

nav {
  display: flex;
  flex-flow: row wrap;
}

nav a {
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  color: var(--light);
  background-image: linear-gradient(280deg, var(--light) 0%, var(--light) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  font-size: 1.4em;
  transition: all 0.25s ease-in;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--dark);
}

/* Hero */
.hero {
  display: flex;
  flex-flow: row wrap;
  background-image: url("../images/background.jpg");
  height: 300px;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero h1 {
  margin-right: 50px;
  margin-bottom: 35px;
  background-color: var(--light);
  color: var(--dark);
  padding: 10px 20px;
  font-size: 200%;
  font-weight: bold;
}

/* Main */
main {
  margin-right: 50px;
}

/* About */
.about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-title {
  flex: 0 0 auto;
  width: 25%;
}

.about-title h2 {
  float: right;
  font-size: 300%;
  padding-right: 10px;
  color: var(--text);
}

.about-info {
  flex: 0 0 auto;
  width: 75%;
  border-left: 5px solid var(--text);
  padding-left: 20px;
  color: var(--dark);
  padding-bottom: 10px;
  padding-top: 10px;
  text-indent: 50px;
}

/* Work */
.work {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.work-title {
  flex: 0 0 auto;
  width: 25%;
}

.work-title h2 {
  float: right;
  font-size: 300%;
  padding-right: 10px;
  color: var(--text);
}

.works {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  border-left: 5px solid var(--text);
  padding-left: 20px;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 40px;
}

.work-img {
  position: relative;
  border: 8px solid var(--light);
  height: 275px;
  width: 425px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.work-img img {
  width: 100%;
  height: 100%;
}

.works-title {
  position: absolute;
  bottom: 10;
  background-color: var(--light);
  color: var(--dark);
  padding: 5px 10px 5px 20px;
  text-decoration: none !important;
}

.works-title h3 {
  font-weight: bold;
  color: var(--dark);
}

.works-title p {
  font-size: 75%;
  color: var(--dark);
}

button {
  margin-top: 5px;
  background-color: var(--dark);
  border-radius: 5px;
  border: solid var(--dark);
}

button:hover {
  background-color: #ffffff;
}

button a {
  text-decoration: none !important;
  color: var(--light);
}

button a:hover {
  color: var(--dark);
}

/* Resume */
.resume {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.resume-title {
  flex: 0 0 auto;
  width: 25%;
}

.resume-title h2 {
  float: right;
  font-size: 300%;
  padding-right: 10px;
  color: var(--text);
}

.resume-info {
  flex: 0 0 auto;
  width: 75%;
  border-left: 5px solid var(--text);
  padding-left: 20px;
  color: var(--dark);
  padding-bottom: 10px;
  padding-top: 10px;
  text-indent: 50px;
}

.resume-info h2 {
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}

hr {
  margin: 10px 30px;
}

.resume-title-info {
  text-align: center;
}

.resume-info h3 {
  font-weight: bolder;
  font-size: 1.50rem;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.text-indent {
  display: inline-block;
  margin-left: 3em;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-title {
  width: 25%;
}

.footer-title h2 {
  float: right;
  font-size: 300%;
  color: var(--text);
  padding-right: 10px;
}

.footer-nav {
  width: 75%;
  border-left: 5px solid var(--text);
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-nav a {
  text-decoration: none;
  color: var(--dark);
  background-image: linear-gradient(280deg, var(--dark) 0%, var(--dark) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  font-size: 1em;
  transition: all 0.25s ease-in;
  padding: 5px 10px 5px 10px;
}

.footer-nav a:hover {
  background-size: 100% 100%;
  color: var(--light);
}

/* Mobile screen styling */
@media only screen and (max-width: 900px) {
  /* Header */
  header {
    justify-content: center;
    padding: 0 0 4% 0;
  }

  header h1 {
    padding: 2%;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  header nav {
    padding-top: 2%;
  }

  nav a {
    padding: 5px;
  }

  .hero h1 {
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: var(--light);
    color: var(--dark);
    padding: 10px 20px;
    font-size: 150%;
    font-weight: bold;
  }

  /* About */
  .about {
    display: flex;
    flex-flow: column wrap;
    margin: 0 0 0 20px;
  }

  .about-title {
    flex: 0 0 auto;
    width: 100%;
  }

  .about-title h2 {
    float: none;
    font-size: 300%;
    padding-right: 0;
    border-bottom: 5px solid var(--text);
    margin-bottom: 15px;
  }

  .about-info {
    flex: 0 0 auto;
    width: 100%;
    border-left: 0;
    padding-left: 0;
  }

  /* Work */
  .work {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-left: 20px;
  }

  .work-title {
    flex: 0 0 auto;
    width: 100%;
  }

  .work-title h2 {
    float: none;
    font-size: 300%;
    padding-right: 0;
    border-bottom: 5px solid var(--text);
    margin-bottom: 25px;
  }

  .works {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    border-left: 0;
    padding-left: 0;
  }

  .work-img {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 265px;
    width: 100%;
  }

  .work-img img {
    height: 250px;
  }

  /* Resume */
  .resume {
    display: flex;
    flex-flow: column wrap;
    margin: 0 0 0 20px;
  }

  .resume-title {
    flex: 0 0 auto;
    width: 100%;
  }

  .resume-title h2 {
    float: none;
    font-size: 300%;
    padding-right: 0;
    border-bottom: 5px solid var(--text);
    margin-bottom: 15px;
  }

  .resume-info {
    flex: 0 0 auto;
    width: 100%;
    border-left: 0;
    padding-left: 0;
  }
  /* Footer */
  footer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .footer-title {
    width: 100%;
  }

  .footer-title h2 {
    float: none;
    font-size: 300%;
    padding-right: 0;
    border-bottom: 5px solid var(--text);
    margin-bottom: 25px;
  }

  .footer-nav {
    width: auto;
    border-left: none;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-nav a {
    text-decoration: none;
    background-image: linear-gradient(280deg, var(--dark) 0%, var(--dark) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    font-size: 1em;
    transition: all 0.25s ease-in;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
  }

  .footer-nav a:hover {
    background-size: 100% 100%;
    color: var(--light);
  }

  /* Remove pagebreak from about and contact header */
  .title-break {
    display: none;
  }
}
